<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="1000" border="1">
  <tbody>
    <tr>
      <td colspan="2">HEADER LOGO</td>
      <td colspan="3" align="right"><table width="100%" border="1">
        <tbody>
          <tr>
            <td>Nama Psien</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Tgl.Lahir/Umur</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>No.RM</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td colspan="3" align="center">Bismillahirrahmanirrahiim</td>
      <td colspan="2">Berat Badan : </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="6">asdasdasdasda asd asd asasdasda asd asd asdadasdas</td>
      <td colspan="2">Ruangan :</td>
    </tr>
    <tr>
      <td colspan="2">dr : </td>
    </tr>
    <tr>
      <td colspan="2">Tgl : </td>
    </tr>
    <tr>
      <td colspan="2">Riwayat Alergi Obat</td>
    </tr>
    <tr>
      <td colspan="2"><table width="100%" border="1">
        <tbody>
          <tr>
            <td colspan="2">PENELAAHAN RESEP</td>
            <td width="12%">YA</td>
            <td width="24%">TIDAK</td>
          </tr>
          <tr>
            <td width="8%">1</td>
            <td width="56%">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>3</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>6</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>7</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>9</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>11</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">PENELAAHAN OBAT</td>
            <td>YA</td>
            <td>TIDAK</td>
          </tr>
          <tr>
            <td>1</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>3</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td colspan="2"><table width="100%" border="1">
        <tbody>
          <tr>
            <td>H</td>
            <td>T</td>
            <td>K</td>
            <td>P</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          </tbody>
      </table></td>
    </tr>
    <tr>
      <td colspan="3" align="center" valign="bottom">&quot;Dan apabila aku sakit, Dia-lah yang menyembuhkan ku&quot;<br>
      (QS. As-Syu'ara',26:80)</td>
      <td colspan="2"><p>Menerima Obat Beserta Informasi</p>
      <p>( Pasien . Keluarga )</p></td>
    </tr>
    <tr>
      <td colspan="3">Perubahan Resep</td>
      <td width="10%" rowspan="2">Petugas Farmasi</td>
      <td width="6%" rowspan="2">Disetujui</td>
    </tr>
    <tr>
      <td width="43%">Tertulis</td>
      <td colspan="2">Menjadi</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>
